{% extends 'base.html.twig' %}

{% form_theme postForm 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ wo_render_breadcrumbs() }}
    <div class="container">
        {{ form_start(postForm) }}
        {{ form_widget(postForm) }}
        <button type="submit" class="btn btn-primary">Pridėti</button>
        {{ form_end(postForm) }}

    </div>
{% endblock %}

