{% extends 'base.html.twig' %}
{% block body %}
    <h4>Add post page</h4>

    <div class="container">
        {{ form_start(postForm) }}
        {{ form_widget(postForm) }}
        {{ form_end(postForm) }}
    </div>
{% endblock %}

