{% extends 'Student/student_base.html.twig' %}
{% set active = "student" %}
{% block content %}
    <h2>Naujienos</h2>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}