{% extends 'base.html.twig' %}

{% block body %}
    <h1>Grades</h1>
    {% for subject in subjects %}
        {{ subject.subject }}
        {% for grade in subject.grades %}
            {{ grade.value }}
        {% endfor %}
    {% endfor %}
{% endblock %}