<div id="calendar-holder"></div>
<div id="apiKeyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kalendoriaus WebCal URL</h4>
            </div>
            <div class="modal-body">
                <label>webcal://tavouni.projektai.nfqakademija.lt/api/calendar?apikey={{ app.user.apiKey }}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Uždaryti</button>
            </div>
        </div>
    </div>
</div>