/*
    horizontal-timeline
*/
.timeline {
    height: 100%;
}

.cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    top: auto;
    bottom: 20px;
}

.cd-timeline-navigation a {
    top: auto;
    bottom: -10px; !important;
}

.events a {
    text-decoration: none;
}

.deadline-subject {
    margin-bottom: 5px;
}
/*---------------------------*/

.blink {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

.timeline-panel, .timeline-badge {
    transition: background 0.5s ease-in-out;
}

a {
    outline:none;
}

.timeline-badge:hover, .timeline-badge.info:hover {
    background-color: #a7dfe2 !important;
    transition: width .5s ease;
}

td.bg-aboveAverage {
    background-color: #8fdf82;
}

td.bg-below5{
    background-color: lightpink;
}

td.bg-belowAverage{
    background-color: #F7E5A1;
}