.events a {
    text-decoration: none;
}

.blink {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

.timeline-panel, .timeline-badge {
    transition: background 0.5s ease-in-out;
}

a {
    outline:none;
}

.timeline-badge:hover, .timeline-badge.info:hover {
    background-color: #a7dfe2 !important;
    transition: width .5s ease;
}

td.bg-aboveAverage {
    background-color: #8fdf82;
}

td.bg-below5{
    background-color: lightpink;
}

td.bg-belowAverage{
    background-color: #F7E5A1;
}