.Posts {

}
.Post-title {
    margin-top: 0;
}
.Post-text {
    font-size: 20px;
}
.Post-content {
    background-color: #fcfcfc;
}

.blink {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

.timeline-panel, .timeline-badge {
    transition: background 0.5s ease-in-out;
}

a {
    outline:none;
}

.timeline-badge:hover, .timeline-badge.info:hover {
    background-color: #a7dfe2 !important;
    transition: width .5s ease;
}
